.ToDoItem{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-shadow:12px 17px 44px 5px rgba(0,0,0,0.47);
    border-radius: 1rem;
    background-color: var(--color3);
}

.ToDoItemP{
    margin: 1.8rem 0rem 1.8rem 1.8rem;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color5);
    font-weight: bold;
}

@media (max-width: 1024px){
    .ToDoItemP{
        font-size: 1.3rem;
    }
}

.ToDoItemPComplete{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.411);
}

.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-weight: bold;
    font-size: 3rem;
}

@media (max-width: 1024px){
    .Icon{
        font-size: 1.3rem;
    }
}


.IconCheck{
    position: absolute;
    left: 2.5rem;
    color: rgba(0, 0, 0, 0.418);
}

.IconCheck:hover{
    color: #137e16;
}


.iconCheckAct{
    color: #137e16;
}

.IconX{
    position: absolute;
    right: 0;
}

.IconX:hover{
    color: var(--color5);
}