body{
    padding: 4rem;
    background-color: var(--color2);
}

.section{    
    background-color: var(--color3);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow:12px 17px 44px 5px rgba(0,0,0,0.47);
}

@media (max-width: 1024px){
    body{
        padding: 1rem;
    }
}