body{
    padding: 4rem;
    background-color: var(--color1);
}

.section{    
    background-color: var(--color3);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

@media (max-width: 1024px){
    body{
        padding: 1rem;
    }
}