.Spinner{
    display: flex;
    justify-content: center;
    color: var(--color5);
    margin-top: 2rem;
}

.Spinning{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}