body {
  margin: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

code {
  font-family: 'Maven Pro', sans-serif;
}

:root{
  --color5: #009198;
  --color3: #ffffff;
  --color1: #ffffff;
  --color2: #e3e3e3;
  --color6: rgb(0, 153, 20);
}
 